<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 하기</title>
</head>
<body>
<h3>회원가입 하기</h3>
<form id="registerForm" action="/users" method="POST">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input name="nickname" placeholder="닉네임" required><br>
    <input name="username" placeholder="이메일" type="email" required id="emailField"><br>
    <input name="password" type="password" placeholder="비밀번호" required><br>
    <input name="authCode" placeholder="인증 코드" type="text" required><br>
    <button type="button" onclick="requestAuthCode()">인증 코드 요청</button>
    <button type="submit">회원가입</button>
</form>

<div th:if="${param.error}">
    <p th:text="'인증 코드가 유효하지 않습니다. 다시 시도해 주세요.'"></p>
</div>

<script>
    function requestAuthCode() {
        const email = document.querySelector('#emailField').value;
        fetch('/requestAuthCode?email=' + encodeURIComponent(email), {
            method: 'POST'
        }).then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
