<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PresentationAdd</title>
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<form action="/addPresentation" method="POST">
    제목<input name = "title">
    본문<input name = "body">
    <button type = "submit">전송</button>
        </form>



</body>
</html>